h1 a, h1 a:hover {
    color: #edecd8;
}
h1 a:hover {
    text-decoration: none;
}
nav a {
    color: #5a5652;
}
nav a:hover {
    color: #008a00;
}
#headerMagasin {
    background-image: url('../../images/woman-hands.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
#home-page {
    position: relative;
    height: 800px;
    background-image: url('../../images/flat-lay-of-healthy-green-vegan-cooking-P8TU78F.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
#home-page h1 {
    position: absolute;
    top: 30%;
    width: 100%;
 
}
.cartButton {
    position: relative;
    margin-left: 50px;
}
.cartButton p {
    position: absolute;
    top: 0px;
    right: 7px;
} 
.details-wrapper h3{
    text-transform: capitalize;
}
.product {
    text-align: center;
}
.product-list {
    float: left;
    width: 100%;
}
.product-wrapper {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
.table {
    border: 1px solid #dbdbdb;
}
.table select {
    width: 56px;
    height: 33px;
    border: 1px solid #dbdbdb;
    padding: 0 8px;
}
.table>thead>tr>th {
    border: none;
    background: #f1f1f1;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    color: #5a4a3b;
    text-align: left;
    vertical-align: middle;
    padding: 0 30px;
    line-height: 58px;
}
.table>tbody>tr>td {
    padding: 38px 30px;
    vertical-align: middle;
    text-align: left;
    font-size: 14px;
    color: #4a4642;
    font-weight: 500;
}
.table>tbody>tr>td>img {
    max-width: 100px;
}
.table tr{
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.09);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.09);
}